.carousel-inner{
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.slide{
    width: 20%;
    margin-top: 2%;
}

nav{
    width: 100%;
}